<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<div id="example">
		<my-component></my-component>
	</div>

	<div id="two">
		<two-component></two-component>
	</div>
	<script type="text/javascript">
	/*-------------全局注册-------------*/
		Vue.component('my-component', {
			template: '<div>A custom component!</div>'
		})
		new Vue({
			el: '#example'
		})
	/*-------------局部注册-------------*/
		var Child = {
			template: '<div>My first component!</div>'
		}
		new Vue({
			el: '#two',
			components: {
				'two-component': Child
			} 
		})	
	</script>
	<!--构造 Vue 实例时传入的各种选项大多数都可以在组件里使用。只有一个例外：data 必须是函数-->
	<div id="example-2">
		<simple-counter></simple-counter>
		<simple-counter></simple-counter>
		<simple-counter></simple-counter>
	</div>
	<script type="text/javascript">
		var list = {counter: 0};
		Vue.component('simple-counter', {
			template: '<button v-on:click="counter += 1">{{ counter }}</button>',
			data: function() {
				return {
			    	counter: 0
				}
				//return list //执行事件 所有的button都会加一
			}
		})
		new Vue({
			el: '#example-2'
		})
	</script>
</body>
</html>