<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VueCnodeJS</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <link href="./static/css/app.cbd117874ed5c0c7dca81e745c86d454.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="./static/js/manifest.937dca3c5c1404d0dad3.js"></script>
<script type="text/javascript" src="./static/js/vendor.7c45f684a7ee4d8e74e9.js"></script>
<script type="text/javascript" src="./static/js/app.50d8555db791c3691e07.js"></script>
</body>
</html>